body{
    background-image: url(Img/background.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
h1{
    font-style: unset;
    text-align: center;
    font-family: 'Bonbon', cursive;
    font-family: 'Pacifico', cursive;
    font-family: 'Fascinate Inline', cursive;}
h2{
    text-align: center;
    font-style: italic;
    font-family: 'Bonbon', cursive;
font-family: 'Pacifico', cursive;
font-family: 'Fascinate Inline', cursive;
font-family: 'Merienda', cursive;
}

.container{
    padding-top: 50px;
}
.container h5{
    font-style: italic;
    color: blue  
}
.sub{
    text-align: center;
    padding-top: 50px
}
.order {
    text-align: center;
    padding-top: 30px;
    font-style: initial;
}
.od{
    padding-top: 20px;
}


    
